.btn{
  background: transparent;
  color: $black1;
  outline: none;
  border: 2px solid $black1;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 13px 40px;
  cursor: pointer;
  transition: .3s ease;
  &:hover{
    background: $black1;
    border-radius: 10px;
    color: $white1;
  }
}