@font-face {
  font-family: "inter-bold";
  src: url(../fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "merri";
  src: url(../fonts/Merriweather-Light.ttf);
}

$font1: inter-bold, sans-serif;
$font2: merri, serif;
$black1: rgb(17, 17, 17);
$white1: rgb(243, 243, 243);
$grey1: rgb(209, 209, 209);
$grey2: rgb(233, 233, 233);
$grey3: rgb(105, 105, 105);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body{
  max-width: 1300px;
  margin: 0 auto;
  font-family: $font2;
  background: url(../img/bg.jpg) fixed center/cover;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-align: center;
}

h1,
h2,
h3,
nav li,
input,
textarea,
label,
.btn{
  font-family: $font1;
}
