@font-face {
  font-family: "inter-bold";
  src: url(../fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "merri";
  src: url(../fonts/Merriweather-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  max-width: 1300px;
  margin: 0 auto;
  font-family: merri, serif;
  background: url(../img/bg.jpg) fixed center/cover;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-align: center;
}

h1,
h2,
h3,
nav li,
input,
textarea,
label,
.btn {
  font-family: inter-bold, sans-serif;
}

header {
  position: relative;
  min-height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-container {
  -webkit-animation: animHeader 1.5s forwards ease-in-out;
          animation: animHeader 1.5s forwards ease-in-out;
}
header .header-container h1 {
  font-size: 4rem;
  color: rgb(243, 243, 243);
  text-transform: uppercase;
  letter-spacing: 6px;
}
@media screen and (max-width: 1000px) {
  header .header-container h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 570px) {
  header .header-container h1 {
    font-size: 2rem;
  }
}
header .header-container p {
  margin: 40px 0 60px;
  font-style: italic;
  color: rgb(243, 243, 243);
}
@media screen and (max-width: 1000px) {
  header .header-container p {
    width: 85%;
    margin: 40px auto 60px;
  }
}
header .header-container span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 60px;
  margin: 0 auto;
  border: 2px solid rgb(243, 243, 243);
  border-radius: 150px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
header .header-container span:hover {
  border-color: rgb(209, 209, 209);
  background: rgba(255, 255, 255, 0.253);
}
header .header-container span a i {
  font-size: 1.2rem;
  font-weight: 800;
  color: rgb(243, 243, 243);
}
header nav {
  background: rgba(255, 255, 255, 0.253);
  position: absolute;
  height: 65px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  color: rgb(243, 243, 243);
  -webkit-animation: animNavbar 2s forwards ease;
          animation: animNavbar 2s forwards ease;
}
header nav .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav .nav-left:hover li:not(:hover) {
  background: none;
  color: rgb(243, 243, 243);
}
@media screen and (max-width: 815px) {
  header nav .nav-left {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
header nav .nav-left li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 2px;
  padding: 0 15px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
header nav .nav-left li:first-child {
  background: rgb(233, 233, 233);
  color: rgb(17, 17, 17);
}
header nav .nav-left li:hover {
  background: rgb(233, 233, 233);
  color: rgb(17, 17, 17);
}
@media screen and (max-width: 700px) {
  header nav .nav-left li {
    font-size: 0.6rem;
  }
}
header nav .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 25%;
  font-size: 1.1rem;
}
@media screen and (max-width: 815px) {
  header nav .nav-right {
    display: none;
  }
}
header nav .nav-right i {
  cursor: pointer;
  font-weight: 400;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
header nav .nav-right i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
@-webkit-keyframes animNavbar {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px) translateX(-50%);
            transform: translateY(200px) translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
}
@keyframes animNavbar {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px) translateX(-50%);
            transform: translateY(200px) translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
}
@-webkit-keyframes animHeader {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes animHeader {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#main {
  background: rgb(243, 243, 243);
  width: 85%;
  margin: 0 auto 30px;
}
#main .section1 {
  width: 80%;
  margin: 0 auto;
}
#main .section1 span {
  position: relative;
  display: block;
  padding: 70px 0;
}
#main .section1 span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 1px;
  background: rgb(209, 209, 209);
  width: 37%;
}
@media screen and (max-width: 750px) {
  #main .section1 span::before {
    width: 30%;
  }
}
@media screen and (max-width: 530px) {
  #main .section1 span::before {
    width: 25%;
  }
}
#main .section1 span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 1px;
  background: rgb(209, 209, 209);
  width: 37%;
}
@media screen and (max-width: 750px) {
  #main .section1 span::after {
    width: 30%;
  }
}
@media screen and (max-width: 530px) {
  #main .section1 span::after {
    width: 25%;
  }
}
#main .section1 h2 {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 2px;
}
@media screen and (max-width: 840px) {
  #main .section1 h2 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 700px) {
  #main .section1 h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 550px) {
  #main .section1 h2 {
    font-size: 1.8rem;
  }
}
#main .section1 p {
  width: 60%;
  line-height: 35px;
  margin: 30px auto;
  font-style: italic;
  font-size: 0.8rem;
}
#main .section1 img {
  width: 100%;
}
#main .section1 button {
  margin: 50px auto 90px;
}
#main .section2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 790px) {
  #main .section2 {
    display: block;
  }
}
#main .section2 .left-part {
  padding: 60px;
  border: 1px solid rgb(209, 209, 209);
}
#main .section2 .left-part span {
  font-size: 0.8rem;
}
#main .section2 .left-part h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto;
  line-height: 28px;
}
#main .section2 .left-part img {
  width: 100%;
}
#main .section2 .left-part p {
  text-align: left;
  margin: 25px auto;
  line-height: 35px;
  font-size: 0.8rem;
}
#main .section2 .right-part {
  padding: 60px;
  border: 1px solid rgb(209, 209, 209);
}
#main .section2 .right-part span {
  font-size: 0.8rem;
}
#main .section2 .right-part h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto;
  line-height: 28px;
}
#main .section2 .right-part img {
  width: 100%;
}
#main .section2 .right-part p {
  text-align: left;
  margin: 25px auto;
  line-height: 35px;
  font-size: 0.8rem;
}

footer {
  width: 85%;
  margin: 0 auto 50px;
  background: rgb(232, 232, 232);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 800px) {
  footer {
    display: block;
    padding: 5px;
  }
}
footer form {
  width: 85%;
  margin: 50px auto;
  display: grid;
  grid-template-rows: 12px 40px 12px 40px 12px 200px;
  gap: 15px;
}
footer form label {
  justify-self: left;
  font-size: 0.7rem;
  letter-spacing: 2px;
  color: rgb(105, 105, 105);
  text-align: left;
  text-transform: uppercase;
}
footer form input[type=text],
footer form textarea {
  border: 1px solid rgb(209, 209, 209);
  background: transparent;
  padding: 10px;
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
footer form input[type=text]:focus,
footer form textarea:focus {
  border: 1px solid rgb(17, 17, 17);
  background: rgb(17, 17, 17);
  border-radius: 10px;
  color: rgb(243, 243, 243);
}
footer form textarea {
  resize: none;
}
footer form input[type=submit] {
  color: rgb(105, 105, 105);
  border-color: rgb(209, 209, 209);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer form input[type=submit]:hover {
  border-color: rgb(17, 17, 17);
}
footer .infos-contact {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
footer .infos-contact > div {
  border-left: 1px solid rgb(209, 209, 209);
  border-bottom: 1px solid rgb(209, 209, 209);
  display: grid;
  grid-template-columns: 30% 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 800px) {
  footer .infos-contact > div:first-child {
    border-top: 1px solid rgb(209, 209, 209);
  }
}
footer .infos-contact > div h3 {
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(105, 105, 105);
}
footer .infos-contact > div p {
  font-size: 0.8rem;
  line-height: 25px;
  text-align: left;
  color: rgb(105, 105, 105);
}
footer .infos-contact .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .infos-contact .social ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 150px;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
footer .infos-contact .social ul li:hover {
  border-color: rgb(17, 17, 17);
}
footer .infos-contact .social ul li i {
  font-size: 0.9rem;
}
footer .infos-contact:last-child {
  border-bottom: none;
}

.btn {
  background: transparent;
  color: rgb(17, 17, 17);
  outline: none;
  border: 2px solid rgb(17, 17, 17);
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 13px 40px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.btn:hover {
  background: rgb(17, 17, 17);
  border-radius: 10px;
  color: rgb(243, 243, 243);
}/*# sourceMappingURL=index.css.map */