#main{
  background: $white1;
  width: 85%;
  margin: 0 auto 30px;
  .section1{
    width: 80%;
    margin: 0 auto;
    span{
      position: relative;
      display: block;
      padding: 70px 0;
      &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 1px;
        background: $grey1;
        width: 37%;
        @media screen and (max-width: 750px) {
          width: 30%;
        }
        @media screen and (max-width: 530px) {
          width: 25%;
        }
      }
      &::after{
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        height: 1px;
        background: $grey1;
        width: 37%;
        @media screen and (max-width: 750px) {
          width: 30%;
        }
        @media screen and (max-width: 530px) {
          width: 25%;
        }
      }
    }
    h2{
      text-transform: uppercase;
      font-size: 3rem;
      letter-spacing: 2px;
      @media screen and (max-width: 840px) {
        font-size: 2.5rem;
      }
      @media screen and (max-width: 700px) {
        font-size: 2rem;
      }
      @media screen and (max-width: 550px) {
        font-size: 1.8rem;
      }
    }
    p{
      width: 60%;
      line-height: 35px;
      margin: 30px auto ;
      font-style: italic;
      font-size: .8rem;
    }
    img {
      width: 100%;
    }
    button{
      margin: 50px auto 90px;
    }
  }

  .section2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 790px) {
      display: block;
    }
    .left-part{
      padding: 60px;
      border: 1px solid $grey1;
      span{
        font-size: .8rem;
      }
      h3{
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 20px auto ;
        line-height: 28px;
      }
      img{
        width: 100%;
      }
      p{
        text-align: left;
        margin: 25px auto;
        line-height: 35px;
        font-size: .8rem;
      }
    }
    .right-part{
      padding: 60px;
      border: 1px solid $grey1;
      span{
        font-size: .8rem;
      }
      h3{
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 20px auto ;
        line-height: 28px;
      }
      img{
        width: 100%;
      }
      p{
        text-align: left;
        margin: 25px auto;
        line-height: 35px;
        font-size: .8rem;
      }
    }
  }
}